@forward "@/theme/shared.scss";

.sliderControls {
  display: flex;
  gap: 1.5rem;
}

.navigationBtnNow {
  background-color: $secondaryColor;
  border-radius: $mainBorderRadius;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 5rem;
  color: white;
  font-size: 1.6rem;
  padding-inline: 1rem;

  &:hover {
    background-color: $primaryColor;
  }
}
